<%-include('../partials/admin/adminHeader')%>
<%-include('../partials/admin/adminSideNav')%>

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
 <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>



<style>
    .modal-content {
      width: 80%;
      margin: 0 auto;
    }
    .modal-body {
      padding: 0;
    }
    .btn-close {
      position: absolute;
      right: 0;
      padding: 1em;
    }
    h1 {
      font-size: 2.3em;
      font-weight: bold;
    }
    .myform {
      padding: 2em;
      max-width: 100%;
      color: #fff;
      box-shadow: 0 4px 6px 0 rgba(15, 15, 21, 0.18);
    }
    @media (max-width: 576px) {
      .myform {
        max-width: 90%;
        margin: 0 auto;
      }
    }
    .form-control:focus {
      box-shadow: inset 0 -1px 0 #7e7e7e;
      background-color: inherit;
      color: #fff;
    }
    .form-control {
      background-color: inherit;
      color: #fff;
      padding-left: 0;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #fff;
    }
    .myform .btn {
      width: 100%;
      font-weight: 800;
      background-color: #fff;
      border-radius: 0;
      padding: 0.5em 0;
    }
    .myform .btn:hover {
      background-color: inherit;
      color: #fff;
      border-color: #fff;
    }
    p {
      text-align: center;
      padding-top: 2em;
      color: grey;
    }
    p a {
      color: #e1e1e1;
      text-decoration: none;
    }
    p a:hover {
      color: #fff;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
       
    }
    input:-webkit-autofill{
        -webkit-text-fill-color: rgb(255, 255, 255) !important;
    }
    
    
    
    
    
    
        </style>
     

        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Catagory Management</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarScroll">

                        <!-- Button trigger modal -->
                        <button id="addCoupon" onclick="clrErr()" type="button" class="btn btn-outline-dark my-2 me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Add Coupon
                          </button>


                    </div>

                  

                </div>
                
            </nav>

            <div>
                <%-include("../flashes/flash")%>
              </div>

            <div class="container mt-5 mb-5 p-0 bg-light">

                <table class="table" id="example">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Coupon Code</th>
                            <th scope="col">Discount Price</th>
                            <th scope="col">Valid From</th>
                            <th scope="col">Valid Till</th>
                            <th scope="col">Min Price</th>
                            <th scope="col">Edit/Delete</th>


                        </tr>

                    </thead>
                    <tbody>
                                <%for(var i=0;i< coupons?.length;i++){%>
                                    

                            <tr>
                                <td>
                                    <%-i+1 %>

                                </td>
                                <td>
                                    <%-coupons[i].couponCode%>
                                </td>

                                <td>
                                    <%-coupons[i].price%>
                                </td>
         
                                
                                <td>
                                    <%-coupons[i].validFrom%>
                                </td>

                                <td>
                                    <%-coupons[i].validTill%>
                                </td>

                                <td>
                                    <%-coupons[i].minPrice%>
                                </td>

                                <td>
                                    <button
                                            class="btn mt-2 me-2 btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#editCouponModal">Edit</button></a>
                                    <button class="btn mt-2 me-2 btn-outline-danger"
                                            onclick="deleteCoupon('<%-coupons[i]._id%>')"
                                            type="button">Delete</button>
                                </td>

                                <!-- Edit coupon model -->

  
       <div class="modal fade" id="editCouponModal" tabindex="-1" aria-labelledby="editCouponModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          
          <div class="modal-content border-0" style="background-color:transparent;">
           
            <div class="modal-body">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="myform bg-dark">
                  <h1 class="text-center">Edit Coupon</h1>
                  
                  <form action="/editCoupon" method="post" id="editCouponForm">
                      <div class="mb-3 mt-4">
                          <label for="exampleInputCoupon" class="form-label">Coupon Code:</label>
                          <input type="text" class="form-control" id="exampleInputCoupon" name="couponCode" value="<%-coupons[i].couponCode%>" aria-describedby="couponCodeHelp" required="true">
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputPrice" class="form-label">Price:</label>
                          <input type="number" name="price" class="form-control" value="<%-coupons[i].price%>" id="exampleInputPrice">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputFromDate" class="form-label">Valid From:</label>
                          <input type="date" name="validFrom" class="form-control" value="<%-coupons[i].validFrom%>" id="exampleInputFromDate">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTillDate" class="form-label">Valid Till:</label>
                          <input type="date" name="validTill" class="form-control" value="<%-coupons[i].validTill%>" id="exampleInputTillDate">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputMinPrice" class="form-label">Min-Price</label>
                          <input type="number" name="minPrice" class="form-control" value="<%-coupons[i].minPrice%>" id="exampleInputMinPrice">
                    </div>
                          
                          
                      <button type="submit" onclick="editCoupon('<%-coupons[i]._id%>')" class="btn btn-light mt-3">Submit</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
          


                            </tr>

                            <%} %>

                            
                    </tbody>
                </table>

            </div>
        </div>
        <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
 
        <!-- ADD coupon Modal -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      
      <div class="modal-content border-0" style="background-color:transparent;">
       
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="myform bg-dark">
              <h1 class="text-center">Add Coupon</h1>
              
              <form action="/addCoupon" method="post" id="addCouponForm">
                  <div class="mb-3 mt-4">
                      <label for="exampleInputCoupon" class="form-label">Coupon Code:</label>
                      <input type="text" class="form-control" id="exampleInputCoupon" name="couponCode" aria-describedby="couponCodeHelp" required="true">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPrice" class="form-label">Price:</label>
                      <input type="number" name="price" class="form-control" id="exampleInputPrice">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputFromDate" class="form-label">Valid From:</label>
                      <input type="date" name="validFrom" class="form-control" id="exampleInputFromDate">
                </div>
                <div class="mb-3">
                    <label for="exampleInputTillDate" class="form-label">Valid Till:</label>
                      <input type="date" name="validTill" class="form-control" id="exampleInputTillDate">
                </div>
                <div class="mb-3">
                    <label for="exampleInputMinPrice" class="form-label">Min-Price</label>
                      <input type="number" name="minPrice" class="form-control" id="exampleInputMinPrice">
                </div>
                      
                      
                  <button type="submit" class="btn btn-light mt-3">Submit</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>


        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

$(document).ready(function () {
    $('#example').DataTable();
});

   
   $('#addCouponForm').submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:'/admin/addCoupon',
        method:'post',
        data:$('#addCouponForm').serialize(),
        success:(respone)=>{
            if(respone.status){
                swal("success", "Coupon Added!", "success").then(()=>{location.reload()})
            }
        }
    })
   })

function editCoupon(couId){
  console.log('hi')
  $('#editCouponForm').submit((e)=>{
    e.preventDefault()
  console.log('hello')

    $.ajax({
        url:'/admin/editCoupon/'+couId,
        method:'post',
        data:$('#editCouponForm').serialize(),
        success:(respone)=>{
            if(respone.status){
                swal("success", "Coupon edited!", "success").then(()=>{location.reload()})
            }
        }
    })
   })

}
   
   function deleteCoupon(couId){
    swal({
  title: "Are you sure?",
  icon: "warning",
  buttons: true,
  dangerMode: true,
}) .then((willDelete) => {
  if (willDelete) {
    console.log('hi')
    $.ajax({
        url:'/admin/deleteCoupon/'+couId,
        method:'get',
      success:(response)=>{
         if(response.status){
          swal("success", "Coupon deleted!", "success").then(()=>{location.reload()})
         }
      
      } 
    })
  }
      
     
    })
   }
  
</script>
 

        </body>

        </html>