<%-include('../partials/admin/adminHeader')%>
<%-include('../partials/admin/adminSideNav')%>


<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
 <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">   
                    <a class="navbar-brand" href="#">Order Management</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                  

                </div>
            </nav>

            <div class="container mt-5 mb-5 p-0 bg-light">

                <table  class="table" id="example" class="display">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Address</th>
                            <th scope="col">Payement method</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Order Status</th>
                            <th scope="col">Cancel</th>





                        </tr>

                    </thead>
                    <tbody>
                       
                        <% for(var i=orderDetails.length -1;i >= 0;i--) {%>
    
                            <tr>
                                <td>
                                    <%-orderDetails.length-i %>
                                </td>

                                

                                <td>
                                    <h6>Address:<%-orderDetails[i].deliveryDetails.address%></h6> 
                                 </td>

                                <td>
                                    <%-orderDetails[i].paymentMethod%>
                                </td>
                                
                              
                                
                                <td>
                                    <%-orderDetails[i].placedDate%>
                                </td>
                                <td>
                                    Total Price:<%-orderDetails[i].total%>

                                </td>

                                <td style="max-width: 100px;">
                                    <form action="/admin/updateOrderStatus/<%-orderDetails[i]._id%>" method="post">

                                    <%if(orderDetails[i].status=== 'Cancelled by Admin'){%>
                                         
                                        <%-orderDetails[i].status%>

                                    <%} else if(orderDetails[i].status=== 'pending'){%>
                                        <select style="width: 100px;" name="status" class="form-select" aria-label="Default select example">
                                            <option selected value='0'><%-orderDetails[i].status%></option>
                                            <option value="placed">Placed</option>
                                            <option value="shipped">Shipped</option>
                                            <option value="out for delivery">Out For Delivery</option>
                                            <option value="delivered">Delivered</option>

                                          </select>

                                          <button type="submit" style="width: 100px;" class="btn btn-success mt-2">
                                           Update
                                          </button>

                                        <%}else if(orderDetails[i].status=== 'placed'){%>
                                            <select style="width: 100px;" name="status" class="form-select" aria-label="Default select example">
                                                <option selected value='0'><%-orderDetails[i].status%></option>
                                                <option value="shipped">Shipped</option>
                                                <option value="out for delivery">Out For Delivery</option>
                                                <option value="delivered">Delivered</option>
    
                                              </select>
    
                                              <button type="submit" style="width: 100px;" class="btn btn-success mt-2">
                                               Update
                                              </button>
    
                                            <%}else if(orderDetails[i].status=== 'shipped'){%>
                                                <select style="width: 100px;" name="status" class="form-select" aria-label="Default select example">
                                                    <option selected value='0'><%-orderDetails[i].status%></option>
                                                    <option value="out for delivery">Out For Delivery</option>
                                                    <option value="delivered">Delivered</option>
        
                                                  </select>
        
                                                  <button type="submit" style="width: 100px;" class="btn btn-success mt-2">
                                                   Update
                                                  </button>
        
                                                <%}else if(orderDetails[i].status=== 'out for delivery'){%>
                                                    <select style="width: 100px;" name="status" class="form-select" aria-label="Default select example">
                                                        <option selected value='0'><%-orderDetails[i].status%></option>
                                                        <option value="delivered">Delivered</option>
            
                                                      </select>
            
                                                      <button type="submit" style="width: 100px;" class="btn btn-success mt-2">
                                                       Update
                                                      </button>

                                                    
            
                                                    <%}else if(orderDetails[i].status=== 'delivered'){%>
                                                        
                                                           <%-orderDetails[i].status%>
                                                          
                                                        <%}
                                    
                                    
                                    %>
                                    
                                </form>
                                    
                                </td>
                                <td>
                                    <a href="/admin/productsOrdered/<%-orderDetails[i]._id%>" style="width:80px;" class="btn btn-warning">Products</a><br>

                                    <%if(orderDetails[i].status==='delivered' || orderDetails[i].status==='Cancelled by Admin'){%>
                                        
                                        
                                        <%}else{%>
                                            
                                            <a href="/admin/adminCancelOrder/<%-orderDetails[i]._id%>" style="width:80px;" class="btn btn-outline-danger mt-2">Cancel</a>

                                            
                                            <%}
                                    
                                    %>

                          
                                </td>



                            </tr>
                            <%} %>

                    </tbody>
                </table>

              
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->


     <script>
      $(document).ready( function () {
    $('#example').DataTable();
   
} );
     </script>
             
        </body>

        </html>