<%if(user){%>
  <%-include('../partials/users/userHeader')%>

  <%}else{%>
    <%-include('../partials/users/landingHeader')%>

  <%}

%>

<style>
  .clr{
    display: none;
  }

  .disImg{
    display: block;

  }
</style>


  <div class="container mt-5">
    <div class="card">
      <div class="container-fluid mt-5">
        <div class="wrapper row">
          <div class="preview col-md-6">

            <div class="preview-pic tab-content">
              
                  <div class="img-zoom-container">
                    <div class="tab-pane active" id="pic-1" ><img id="myimage" onmouseover="displayZoom()"
                       src="/uploads/<%-product.images[0].filename%>" /></div>
                  </div>

            </div>

            <div class="coloumn my-3">
              <%for(var i=1 ;i< product.images.length;i++){%>
              
                <img style="width: 120px; height:110px;" src="/uploads/<%-product.images[i].filename%>" alt="">
            
             <%} %>
            </div>


          </div>
          <div class="details col-md-6">
            <h3 class="product-title">
              <%-product.name%>
            </h3>

            <div id="myresult" style="height: 300px;;width:300px;" class="clr img-zoom-result mt-4"></div>

           
            
            

            <p class="product-description fw-bold"> <span class="text-danger">Description:</span><%-product.description.slice(0,110)%><span id="dots">...</span><span id="more"><%-product.description.slice(41)%></span></p>

<button class="btn btn-light" onclick="myFunction()" id="myBtn">Read more</button>

          
            <h4 class="price text-danger">current price: <span class="fw-bold text-success">₹ <%-product.price%></span>
            </h4>
  
            <div class="action">
              <a href="/addToCart/<%-product._id%>" class="add-to-cart btn btn-success" type="button">Add to cart</a>
              <button class="like btn btn-outline-danger" type="button"><img
                  src="https://img.icons8.com/fluency/452/like.png" style="height: 25px; width: 25px;" alt=""></button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <script>


   function displayZoom(){
   var list=document.getElementById('myresult').classList
   list.add('disImg')
   list.remove('clr')
   }


    function imageZoom(imgID, resultID) {
      var img, lens, result, cx, cy;
      img = document.getElementById(imgID);
      result = document.getElementById(resultID);
      /*create lens:*/
      lens = document.createElement("DIV");
      lens.setAttribute("class", "img-zoom-lens");
      /*insert lens:*/
      img.parentElement.insertBefore(lens, img);
      /*calculate the ratio between result DIV and lens:*/
      cx = result.offsetWidth / lens.offsetWidth;
      cy = result.offsetHeight / lens.offsetHeight;
      /*set background properties for the result DIV:*/
      result.style.backgroundImage = "url('" + img.src + "')";
      result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
      /*execute a function when someone moves the cursor over the image, or the lens:*/
      lens.addEventListener("mousemove", moveLens);
      img.addEventListener("mousemove", moveLens);
      /*and also for touch screens:*/
      lens.addEventListener("touchmove", moveLens);
      img.addEventListener("touchmove", moveLens);
      function moveLens(e) {
        var pos, x, y;
        /*prevent any other actions that may occur when moving over the image:*/
        e.preventDefault();
        /*get the cursor's x and y positions:*/
        pos = getCursorPos(e);
        /*calculate the position of the lens:*/
        x = pos.x - (lens.offsetWidth / 2);
        y = pos.y - (lens.offsetHeight / 2);
        /*prevent the lens from being positioned outside the image:*/
        if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; }
        if (x < 0) { x = 0; }
        if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; }
        if (y < 0) { y = 0; }
        /*set the position of the lens:*/
        lens.style.left = x + "px";
        lens.style.top = y + "px";
        /*display what the lens "sees":*/
        result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
      }
      function getCursorPos(e) {
        var a, x = 0, y = 0;
        e = e || window.event;
        /*get the x and y positions of the image:*/
        a = img.getBoundingClientRect();
        /*calculate the cursor's x and y coordinates, relative to the image:*/
        x = e.pageX - a.left;
        y = e.pageY - a.top;
        /*consider any page scrolling:*/
        x = x - window.pageXOffset;
        y = y - window.pageYOffset;
        return { x: x, y: y };
      }
    }
    // Initiate zoom effect:
    imageZoom("myimage", "myresult");


    function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}




    

  </script>


  </body>

  </html>