<%if(user){%>
  <%-include('../partials/users/userHeader')%>
  <%}else{%>
    <%-include('../partials/users/landingHeader')%>
    <%}

%>

  <div class="container-fluid mt-5 p-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/diwali-banner_2000x.gif?v=1664442921"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/SN-Desktop-Banner-Wave-Style_1_2000x.jpg?v=1663914840"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/files/DESKTOP-Banner-WB_4_2000x.gif?v=1664782144"
            class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <section style="background-color: rgb(255, 255, 255);">




    <h3 class="text text-center fw-bold mt-3">Shop by Catagory</h3>
    <div class="container py-5">
      <div class="row">

        <% for(var i=0;i< catagory.length;i++) {%>

          <div class="col-md-12 col-lg-4 mb-4 mb-lg-0  ms-3 me-3 " style="width: 10rem; height:17rem">
            <div class="card bg-light border-0" style="width: 10rem; height:17rem">
              <div class="d-flex justify-content-between p-3">
              </div>
              <a class="text-decoration-none" href="/catagory/<%-catagory[i]._id%>"><img
                  src="/uploads/<%-catagory[i].filename%>" class="card-img-top" alt="Laptop" />
                <p class="lead mb-0 text-center text-dark fw-bold">
                  <%-catagory[i].name%>
                </p>
              </a>
            </div>
          </div>

          <%} %>
      </div>
    </div>

  </section>

  <!--<section>
    <div class='container'>
      <h3 class="text  fw-bold mt-3">Trending Now</h3>
      <div class="row">

        <% for(var i=0;i< products.length;i++) {%>


        <div class="card col-md-2 col-10 mt-5 mx-2 align-items-center">
          <div class="img-container">
            <img class='mx-auto img-thumbnail b-0' src="/uploads/<%-products[i].images[0].filename%>"/>
          </div>
          
          <div class="card-body text-center mx-auto">
            <div class='cvp'>
              <h5 class="card-title font-weight-bold"><%-products[i].name.slice(0,40)%></h5>
              <p class="card-text-success">₹<%-products[i].price%></p>
              <a href="/displayProduct/<%-products[i]._id%>" class="btn btn-primary details px-auto mb-2">view details</a><br />
              <a href="/addToCart/<%-products[i]._id%>" class="btn btn-success cart px-auto">ADD TO CART</a>
            </div>
          </div>
        </div>

        <%} %>

        
      </div>
    </div>
  </section>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  </body>

  </html> -->

<div class="container">
  <h3 class="text  fw-bold mt-3">Trending Now</h3>

  <div class="row">
     
    <% for(var i=0;i< products.length;i++) {%>

    <div class="col-md-3 col-sm-6 mb-3">
      <div class="product-grid">

        <div class="product-image d-flex justify-content-center p-2">
          <div class="img-container">
          <a href="/displayProduct/<%-products[i]._id%>" class="image">
            <img class="pic-1" src="/uploads/<%-products[i].images[0].filename%>">
          </a>
        </div>
          <!-- <span class="product-discount-label">-33%</span> -->
          <ul class="product-links">
            <li><a href="" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
            <li><a onclick="addToCart('<%-products[i]._id%>')" data-tip="Cart"><i class="	fas fa-cart-plus"></i></a></li>
            <li><a href="/displayProduct/<%-products[i]._id%>" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          </ul>
        </div>
        <div class="product-content">
          <ul class="rating">
            <li class="fas fa-star"></li>
            <li class="fas fa-star"></li>
            <li class="fas fa-star"></li>
            <li class="far fa-star"></li>
            <li class="far fa-star"></li>
          </ul>
          <h3 class="title"><a href=""><%-products[i].name.slice(0,40)%></a></h3>
          <div class="price">₹<%-products[i].price%></div>
        </div>
      </div>
    </div>

    <%} %>

  </div>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
      function addToCart(proId){
    $.ajax({
        url:'/addToCart/'+proId,
        method:'get',
        success:(response)=>{
          swal("Good job!", "Item added to Cart!", "success");

            if(response.status){
                let count=$('#cartCount').html()
                count=parseInt(count)+1
                $('#cartCount').html(count)

            }
        }
    })

}

    </script>

   
  </body>

  </html>