<%-include('../partials/users/userHeader')%>
  <script
    src="https://www.paypal.com/sdk/js?client-id=AfbYQ1o5g98BhOWU-byKvKMuxKB-G365mf3ShaH0a0TTmkNKDDEBHfu6Bq4cFu6WNow6R_Af9xNx55nt&currency=USD"></script>

  <style>
    .clr {
      display: none;
    }

    .disbtn {
      display: block;
    }

    .modal-content {
      width: 80%;
      margin: 0 auto;
    }

    .modal-body {
      padding: 0;
    }

    .btn-close {
      position: absolute;
      right: 0;
      padding: 1em;
    }

    .mh {
      font-size: 2.3em;
      font-weight: bold;
    }

    .myform {
      padding: 2em;
      max-width: 100%;
      color: #fff;
      box-shadow: 0 4px 6px 0 rgba(15, 15, 21, 0.18);
    }

    @media (max-width: 576px) {
      .myform {
        max-width: 90%;
        margin: 0 auto;
      }
    }

    .form-control:focus {
      box-shadow: inset 0 -1px 0 #7e7e7e;
      background-color: inherit;
      color: #fff;
    }

    .form-control {
      background-color: inherit;
      color: #fff;
      padding-left: 0;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #fff;
    }

    .myform .btn {
      width: 100%;
      font-weight: 800;
      background-color: #fff;
      border-radius: 0;
      padding: 0.5em 0;
    }

    .myform .btn:hover {
      background-color: inherit;
      color: #fff;
      border-color: #fff;
    }

    .mp {
      text-align: center;
      padding-top: 2em;
      color: grey;
    }

    .mp a {
      color: #e1e1e1;
      text-decoration: none;
    }

    .mp a:hover {
      color: #fff;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;

    }

    input:-webkit-autofill {
      -webkit-text-fill-color: rgb(255, 255, 255) !important;
    }
  </style>




  <div class="container">
    <section class="h-100 gradient-custom">
      <div class="container py-5">
        <div class="row my-4">
          <div class="col-md-8 pt-3">
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="mb-0">
                  Address
                </h5>
              </div>

              <form action="/placeOrderPost" method="post" id="checkoutForm">
                <div class="alert alert-primary my-2" role="alert">

                  <a href="/ProfileAddAddress" style="text-decoration: none;" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"><i class="fas fa-plus"></i> Add Address</a>
                </div>
                <%for(var i=0;i< address.length;i++){%>

                  <%if(i==0){%>

                    <div class="form-check p-1">
                      <input class="form-check-input mx-2" type="radio" name="address" id="flexRadioDefault1"
                        value="<%-address[i].address.id%>" form="checkoutForm" checked>
                      <label class="form-check-label" for="flexRadioDefault1">
                        <strong>
                          <%-address[i].address.name%>
                        </strong>
                        <p class="m-0">
                          <%-address[i].address.address%>
                        </p>
                        <p class="m-0">
                          <%-address[i].address.town%>,<%-address[i].address.city%>-<%-address[i].address.pincode%>
                        </p>

                        <h6 class="my-1">
                          <%-address[i].address.phone%>
                        </h6>
                        <div class="btns my-3">
                          <a class="btn btn-outline-dark pb-2" data-bs-toggle="modal"
                            data-bs-target="#editAddressModal1">Edit</a>
                        </div>

                        <!-- editAddress Modal -->

                        <div class="modal fade" id="editAddressModal1" tabindex="-1"
                          aria-labelledby="editAddressModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content border-0" style="background-color:transparent;">

                              <div class="modal-body">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                                <div class="myform bg-dark">
                                  <h1 class="mh text-center">Edit Address</h1>
                                  <form id="editAddressForm" method="post">
                                    <div class="form-group my-1">
                                      <div class="row">
                                        <h6>Contact details</h6>
                                        <div class="col"><input id="editName" type="text" class="form-control"
                                            name="name" required="required" value="<%-address[i].address.name%>"
                                            form="editAddressForm"></div>
                                        <div class="col"><input id="editPhone" type="number" class="form-control"
                                            name="phone" value="<%-address[i].address.phone%>" required="required"
                                            form="editAddressForm"></div>
                                      </div>
                                    </div>
                                    <div class="form-group my-1">

                                      <h6 class="mt-3">Address</h6>
                                      <input type="number" id="editPincode" class="form-control" name="pincode"
                                        value="<%-address[i].address.pincode%>" form="editAddressForm"
                                        required="required">
                                    </div>
                                    <div class="form-group my-1">
                                      <input type="text" id="editAddress" class="form-control" name="address"
                                        value="<%-address[i].address.address%>" form="editAddressForm"
                                        required="required">
                                    </div>
                                    <div class="form-group my-1">
                                      <input type="text" id="editTown" class="form-control" name="town"
                                        value="<%-address[i].address.town%>" form="editAddressForm" required="required">
                                    </div>

                                    <div class="form-group my-2">
                                      <div class="row">
                                        <div class="col"><input type="text" id="editCity" class="form-control"
                                            name="city" value="<%-address[i].address.city%>" form="editAddressForm"
                                            required="required"></div>
                                        <div class="col"><input type="text" id="editState" class="form-control"
                                            name="State" value="<%-address[i].address.state%>" form="editAddressForm"
                                            required="required"></div>
                                      </div>
                                    </div>

                                    <div class="form-group mt-3 ">
                                      <button type="submit" onclick="editAddress('<%-address[i].address.id%>')"
                                        class="btn btn-light mt-3" form="editAddressForm">Submit</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>



                      </label>
                    </div>



                    <%} else{ %>
                      <div class="form-check p-1">
                        <input class="form-check-input mx-2" type="radio" name="address" id="flexRadioDefault1"
                          value="<%-address[i].address.id%>" form="checkoutForm">
                        <label class="form-check-label" for="flexRadioDefault1">
                          <strong>
                            <%-address[i].address.name%>
                          </strong> 
                          <p class="m-0">
                            <%-address[i].address.address%>
                          </p>
                          <p class="m-0">
                            <%-address[i].address.town%>,<%-address[i].address.city%>-<%-address[i].address.pincode%>
                          </p>

                          <h6 class="my-1">
                            <%-address[i].address.phone%>
                          </h6>
                          <div class="btns my-3">
                            <a class="btn btn-outline-dark pb-2" data-bs-toggle="modal"
                              data-bs-target="#editAddressModal">Edit</a>
                            
                          </div>

                          

                          <!-- editAddress Modal -->

                          <div class="modal fade" id="editAddressModal" tabindex="-1"
                            aria-labelledby="editAddressModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">

                              <div class="modal-content border-0" style="background-color:transparent;">

                                <div class="modal-body">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                  <div class="myform bg-dark">
                                    <h1 class="mh text-center">Edit Address</h1>
                                    <form id="editAddressForm" method="post">
                                      <div class="form-group my-1">
                                        <div class="row">
                                          <h6>Contact details</h6>
                                          <div class="col"><input id="editName" type="text" class="form-control"
                                              name="name" required="required" value="<%-address[i].address.name%>"
                                              form="editAddressForm"></div>
                                          <div class="col"><input id="editPhone" type="number" class="form-control"
                                              name="phone" value="<%-address[i].address.phone%>" required="required"
                                              form="editAddressForm"></div>
                                        </div>
                                      </div>
                                      <div class="form-group my-1">

                                        <h6 class="mt-3">Address</h6>
                                        <input type="number" id="editPincode" class="form-control" name="pincode"
                                          value="<%-address[i].address.pincode%>" form="editAddressForm"
                                          required="required">
                                      </div>
                                      <div class="form-group my-1">
                                        <input type="text" id="editAddress" class="form-control" name="address"
                                          value="<%-address[i].address.address%>" form="editAddressForm"
                                          required="required">
                                      </div>
                                      <div class="form-group my-1">
                                        <input type="text" id="editTown" class="form-control" name="town"
                                          value="<%-address[i].address.town%>" form="editAddressForm"
                                          required="required">
                                      </div>

                                      <div class="form-group my-2">
                                        <div class="row">
                                          <div class="col"><input type="text" id="editCity" class="form-control"
                                              name="city" value="<%-address[i].address.city%>" form="editAddressForm"
                                              required="required"></div>
                                          <div class="col"><input type="text" id="editState" class="form-control"
                                              name="State" value="<%-address[i].address.state%>" form="editAddressForm"
                                              required="required"></div>
                                        </div>
                                      </div>

                                      <div class="form-group mt-3 ">
                                        <button type="submit" onclick="editAddress('<%-address[i].address.id%>')"
                                          class="btn btn-light mt-3">Submit</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>





                        </label>
                      </div>
                      <% } %>

                        <%} %>

                          <input class="form-check-input" type="number" id="totalValueId" name="totalPrice"
                            value="<%-totalValue[0].total + 40%>" form="checkoutForm" hidden>


                          <%if(address.length< 1 ){%>
                            <div class="alert alert-danger m-2" role="alert">
                              <h5>No Address Added</h5>
                            </div>

                            <%} %>

                            


            </div>


          </div>



          <div class="col-md-4 pt-3">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    <h4> Price Details</h4>
                  </li>

                  <!-- products -->
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Products Total
                    <span><strong> ₹ <%-totalValue[0].total%></strong></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Shipping Price
                    <span><strong> ₹ 40</strong></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <h4><strong>Total amount</strong></h4>

                    <span>
                      <h3 class="text-danger ms-3" id="totalPrice"><strong>₹<%-totalValue[0].total + 40%></strong></h3>
                    </span>



                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    
                    <form id="couponApplyForm" method="post">
                      <label for="couponInput mb-1" id="couponCodeLabel">Coupon Code:</label>
                      <input type="text" form="couponApplyForm" class="form-control text-black" name="couponCode"
                        placeholder="Enter coupon code" aria-describedby="couponHelp" id="couponForm">
                        <input type="number" name="price" value="<%-totalValue[0].total%>" hidden>
                      <button type="submit" form="couponApplyForm" class="btn btn-success mt-1" id="applyBtn">apply</button>
                      <h5 class="clr text fw-bold text-success" id="ccApplied">Coupon Discount: ₹<span id="couponDiscount"></span></h5>
                    </form>
                  </li>
                </ul>


              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Payment Method</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <div class="form-check px-3">
                    <input class="form-check-input" onclick="displayCheckout()" type="radio" name="paymentMethod"
                      id="paymentMethod1" value="cod" form="checkoutForm">
                    <label class="form-check-label" for="paymentMethod1">
                      <h5><strong> COD</strong></h5>
                    </label>
                  </div>
                  <div class="form-check px-3">
                    <input class="form-check-input" form="checkoutForm" onclick="displayCheckout()" type="radio"
                      name="paymentMethod" id="paymentMethod2" value="razorPay">
                    <label class="form-check-label" for="paymentMethod2">
                      <h5><strong>Razor Pay</strong></h5>
                    </label>
                  </div>
                  <div class="form-check px-3">
                    <input class="form-check-input" form="checkoutForm" onclick="displayPaypal()" type="radio"
                      name="paymentMethod" id="paymentMethod3" value="payPal">
                    <label class="form-check-label" for="paymentMethod3">
                      <h5><strong>Pay Pal</strong></h5>
                    </label>
                  </div>
                  <div class="clr" id="paypal">

                  </div>
                  <div class="clr" id="checkout-btn">
                    <button id="placeOrder" type="submit" class="btn btn-success" form="checkoutForm">
                      Place Order
                    </button>
                  </div>



           </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content border-0" style="background-color:transparent;">

        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="myform bg-dark">
            <h1 class="mh text-center">Add Address</h1>
            <form action="/addAddressPost" id="addAddressForm" method="post">
              <div class="form-group my-1">
                <div class="row">
                  <h6>Contact details</h6>
                  <div class="col"><input type="text" class="form-control" name="name" placeholder="Name"
                      required="required" form="addAddressForm"></div>
                  <div class="col"><input type="number" class="form-control" name="phone" placeholder="Mobile No"
                      required="required"></div>
                </div>
              </div>
              <div class="form-group my-1">

                <h6 class="mt-3">Address</h6>
                <input type="number" class="form-control" name="pincode" placeholder="Pincode" required="required">
              </div>
              <div class="form-group my-1">
                <input type="text" class="form-control" name="address"
                  placeholder="Address(House No,Building,Street,Area)" required="required">
              </div>
              <div class="form-group my-1">
                <input type="text" class="form-control" name="town" placeholder="Locality/Town" required="required">
              </div>

              <div class="form-group my-2">
                <div class="row">
                  <div class="col"><input type="text" class="form-control" name="city" placeholder="City/District"
                      required="required"></div>
                  <div class="col"><input type="text" class="form-control" name="State" placeholder="State"
                      required="required"></div>
                </div>
              </div>

              <div class="form-group mt-3 ">
                <button type="submit" class="btn btn-light mt-3">Submit</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>








  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


  <script>


    $('#couponApplyForm').submit((e) => {
      e.preventDefault()
      console.log('hi')
      $.ajax({
        url: '/applyCoupon',
        method: 'post',
        data: $('#couponApplyForm').serialize(),
        success: (response) => {
          console.log('response', response)
          if (response.price) {
            console.log(response.price)
            let total = document.getElementById('totalValueId').value
            total = total - response.price
            document.getElementById('totalValueId').value = total
            document.getElementById('couponDiscount').innerHTML=response.price

            
            document.getElementById('totalPrice').innerHTML = total
            let btn=document.getElementById('applyBtn').classList
            btn.add('clr')
            let field=document.getElementById('couponForm').classList
            let label=document.getElementById('couponCodeLabel').classList
            label.add('clr')
            field.add('clr')
            let txt=document.getElementById('ccApplied').classList
            txt.remove('clr')

          }else if(response.priceNotValid){
            swal({
              title: "Not Valid!",
              text: "Less than Coupon min-price",
              icon: "warning",
            })
          } else {
            swal({
              title: "Wrong!",
              text: "Coupon code incorrect",
              icon: "warning",
            })
          }

        }
      })
    })


    function editAddress(addId) {
      let name = document.getElementById('editName').value
      let pincode = document.getElementById('editPincode').value
      let address = document.getElementById('editAddress').value
      let town = document.getElementById('editTown').value
      let city = document.getElementById('editCity').value
      let phone = document.getElementById('editPhone').value
      let State = document.getElementById('editState').value
      $.ajax({
        url: '/editAddressPost/' + addId,
        method: 'post',
        data: {
          name,
          pincode,
          address,
          town,
          city,
          phone,
          State
        },
        success: (response) => {
          if (response.status) {
            swal({
              title: "Success!",
              text: "Address Edited",
              icon: "success",
              button: "Ok",
            })
              .then((value) => {
                if (value) {
                  location.href = '/placeOrder'
                }

              });

          }


        }


      })
    }

    function displayCheckout() {
      let list1 = document.getElementById('checkout-btn').classList
      let list2 = document.getElementById('paypal').classList
      list1.add('disbtn')
      list2.remove('disbtn')
    }

    function displayPaypal() {
      let list1 = document.getElementById('checkout-btn').classList
      let list2 = document.getElementById('paypal').classList
      list1.remove('disbtn')
      list2.add('disbtn')
    }



    $('#checkoutForm').submit((e) => {
      e.preventDefault()
      $.ajax({
        url: '/placeOrderPost',
        method: 'post',
        data: $('#checkoutForm').serialize(),
        success: (response) => {
          if (response.codStatus) {
            swal({
              title: "Success!",
              text: "Your Order has been placed!",
              icon: "success",
              button: "Continue Shopping!",
            })
              .then((value) => {
                if (value) {
                  location.href = '/userPanel'
                } else {
                  location.href = '/cart'
                }

              });
          } else if (response.paypalStatus) {
            swal({
              title: "Success!",
              text: "Your Order has been placed!",
              icon: "success",
              button: "Continue Shopping!",
            })
              .then((value) => {
                if (value) {
                  location.href = '/userPanel'
                }
              })
          }

          else {
            console.log(response)
            razorPayPayment(response)
          }
        }
      })
    })


    $('#addAddressForm').submit((e) => {
      e.preventDefault()
      $.ajax({
        url: '/addAddressPost',
        method: 'post',
        data: $('#addAddressForm').serialize(),
        success: (response) => {
          if (response.status) {
            swal({
              title: "Success!",
              text: "Address Added",
              icon: "success",
              button: "Ok",
            })
              .then((value) => {
                if (value) {
                  location.href = '/placeOrder'
                }

              });

          }


        }


      })
    })





    function razorPayPayment(data) {
      var options = {
        "key": "rzp_test_GrQRKdSRhoZnCr", // Enter the Key ID generated from the Dashboard
        "amount": data.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Acme Corp",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          // alert(response.razorpay_payment_id);
          // alert(response.razorpay_order_id);
          // alert(response.razorpay_signature)
          if (typeof response.razorpay_payment_id == 'undefined' ||  response.razorpay_payment_id < 1) {
            console.log('blablabla')
            swal({
              title: "Success!",
              text: "Address Added",
              icon: "success",
              button: "Ok",
            })          
          } else {
            verifyPayment(response, data)
           } 
          

        },
        "prefill": {
          "name": "Gaurav Kumar",
          "email": "gaurav.kumar@example.com",
          "contact": "9999999999"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };

      var rzp1 = new Razorpay(options);
      rzp1.open();
    }

    function verifyPayment(payment, order) {
      console.log('hello', order.order);

      $.ajax({
        url: '/verifyPayment',
        method: 'post',
        data: {
          payment,
          order
        },
        success: (response) => {
          console.log('hee')
          if (response.status) {
          console.log('hoi')
          swal({
              title: "Success!",
              text: "Order Placed",
              icon: "success",
              button: "Continue Shopping",
            })
              .then((value) => {
                if (value) {
                  location.href = '/userPanel'
                }

              });

          } else {
            alert('payment failed')
          }
        }
      })
    }

    //paypal

    paypal.Buttons({
      // Sets up the transaction when a payment button is clicked
      createOrder: (data, actions) => {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '77.44' // Can also reference a variable or function
            }
          }]
        });
      },
      // Finalize the transaction after payer approval
      onApprove: (data, actions) => {
        return actions.order.capture().then(function (orderData) {
          // Successful capture! For dev/demo purposes:
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          const transaction = orderData.purchase_units[0].payments.captures[0];
          $(document).ready(function () {
            $('#placeOrder').trigger('click')
          })
        });
      }
    }).render('#paypal');



  </script>



  </body>

  </html>