<%-include('../partials/users/userHeader')%>

<style>
  .clr{
    display: none;
  }

  .disbtn{
    display: block;
  }
</style>




  <div class="container">
    <section class="h-100 gradient-custom">
      <div class="container py-5">
        <div class="row my-4">
          <div class="col-md-8 pt-3">
            <div class="card mb-4">
              <div class="card-header">
                <h5 class="mb-0">
                  Address
                </h5>
              </div>

              <form action="/placeOrderPost" method="post" id="checkoutForm">
                <%for(var i=0;i< address.length;i++){%>

                  <%if(i==0){%>

                    <div class="form-check p-1">
                      <input class="form-check-input mx-2" type="radio" name="address" id="flexRadioDefault1"
                        value="<%-address[i].address.id%>" checked>
                      <label class="form-check-label" for="flexRadioDefault1">
                        <strong>
                          <%-address[i].address.name%>
                        </strong> <span class="badge bg-success">Home</span>
                        <p class="m-0">
                          <%-address[i].address.address%>
                        </p>
                        <p class="m-0">
                          <%-address[i].address.town%>,<%-address[i].address.city%>-<%-address[i].address.pincode%>
                        </p>

                        <h6 class="my-1">
                          <%-address[i].address.phone%>
                        </h6>
                        <div class="btns my-3">
                          <a href="/removeAddress/<%-address[i].address.id%>"
                            onclick="return confirm('This document will be deleted.Are you sure?')"
                            class="btn btn-outline-dark pb-2">Remove</a>
                        </div>
        


                      </label>
                    </div>

                    <input class="form-check-input"  type="number" name="totalPrice" value="<%-totalValue[0].total + 40%>" hidden>


                      <%} else{ %>
                        <div class="form-check p-1">
                          <input class="form-check-input mx-2" type="radio" name="address" id="flexRadioDefault1"
                            value="<%-address[i].address.id%>">
                          <label class="form-check-label" for="flexRadioDefault1">
                            <strong>
                              <%-address[i].address.name%>
                            </strong> <span class="badge bg-success">Home</span>
                            <p class="m-0">
                              <%-address[i].address.address%>
                            </p>
                            <p class="m-0">
                              <%-address[i].address.town%>,<%-address[i].address.city%>-<%-address[i].address.pincode%>
                            </p>

                            <h6 class="my-1">
                              <%-address[i].address.phone%>
                            </h6>
                            <div class="btns my-3">
                              <a href="/removeAddress/<%-address[i].address.id%>"
                                onclick="return confirm('This document will be deleted.Are you sure?')"
                                class="btn btn-outline-dark pb-2">Remove</a>
                            </div>



                          </label>
                        </div>
                        <% } %>

                          <%} %>

                            <%if(address.length< 1 ){%>
                              <div class="alert alert-danger m-2" role="alert">
                                <h5>No Address Added</h5>
                              </div>

                              <%} %>

                                <div class="alert alert-primary mx-2" role="alert">
                                  
                                  <a href="/addAddress" style="text-decoration: none;"><i class="fas fa-plus"></i> Add Address</a>
                                </div>


            </div>


          </div>



          <div class="col-md-4 pt-3">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    <h4> Price Details</h4>
                  </li>

                  <!-- products -->
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Products Total
                    <span><strong> ₹ <%-totalValue[0].total%></strong></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Shipping Price
                    <span><strong> ₹ 40</strong></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <h4><strong>Total amount</strong></h4>

                    <span>
                      <h3 class="text-danger ms-3"><strong>₹<%-totalValue[0].total + 40%></strong></h3>
                    </span>

                  </li>
                </ul>


              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Payment Method</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <div class="form-check px-3">
                    <input class="form-check-input" onclick="displayCheckout()" type="radio" name="paymentMethod" id="paymentMethod1" value="cod">
                    <label class="form-check-label" for="paymentMethod1">
                      <h5><strong> COD</strong></h5>
                    </label>
                  </div>
                  <div class="form-check px-3">
                    <input class="form-check-input" onclick="displayCheckout()" type="radio" name="paymentMethod" id="paymentMethod2"
                      value="razorPay">
                    <label class="form-check-label" for="paymentMethod2">
                      <h5><strong>Razor Pay</strong></h5>
                    </label>
                  </div>
                  <div class="form-check px-3">
                    <input class="form-check-input" onclick="displayPaypal()" type="radio" name="paymentMethod" id="paymentMethod3"
                      value="payPal">
                    <label class="form-check-label" for="paymentMethod3">
                      <h5><strong>Pay Pal</strong></h5>
                    </label>
                  </div>
                    <div class="clr" id="paypal">

                    </div>
                    <div class="clr" id="checkout-btn">
                      <button id="placeOrder" type="submit" class="btn btn-success">
                        Place Order
                      </button>
                    </div>

                

                  </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
  


  <script>
  function displayCheckout(){
    let list1=document.getElementById('checkout-btn').classList
    let list2=document.getElementById('paypal').classList
    list1.add('disbtn') 
    list2.remove('disbtn')
  }

  function displayPaypal(){
    let list1=document.getElementById('checkout-btn').classList
    let list2=document.getElementById('paypal').classList
    list1.remove('disbtn')
    list2.add('disbtn')
  }


      $('#checkoutForm').submit((e)=>{
        e.preventDefault()
        $.ajax({
          url:'/placeOrderPost',
          method:'post',
          data:$('#checkoutForm').serialize(),
          success:(response)=>{
            if(response.codStatus){
            location.href='/orderSuccess'
            }else if(response.paypalStatus){
             location.href='/orderSuccess'
            }
            
            else{
              console.log(response.amount)
             razorPayPayment(response)
            }
          }


        })
      })

      function razorPayPayment(order){
        var options = {
    "key": "rzp_test_GrQRKdSRhoZnCr", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);
rzp1.open();
      }

      function verifyPayment(payment,order){
        console.log('hello');
        $.ajax({
          url:'/verifyPayment',
          method:'post',
          data:{
            payment,
            order 
          },
          success:(response)=>{
            if(response.status){
              location.href='/orderSuccess'
            }else{
              alert('payment failed')
            }
          }
        })
      }

   //paypal

      paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '77.44' // Can also reference a variable or function
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            $(document).ready(function(){
              $('#placeOrder').trigger('click')
            })
          });
        }
      }).render('#paypal');



  </script>



</body>

</html>